
* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: silver;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  background-color: skyblue;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

footer {
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.new-complain{

  padding-left: 20%;
  margin-top: 5%;
}
.complainform{
  padding-top: 10px;
  margin-top: 0%;
  width: 56%;

  
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 32px black;
  background: rgba(255, 255, 255, 0.884);
}
form {
  padding-top: 20px;
  margin-top: 40px;
  width: 20%;

  margin-left: 30%;
  border: 1px solid black;
  border-radius: 20px;
  
  background: rgba(255, 255, 255, 0.884);
}
form h3 {
  text-align: center;
}
.input {
  width: 80%;
  margin-left: 10%;
  display: block;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid black;
  background-origin: padding-box;
  border-radius: 20px;
  box-shadow: 2px 2px 32px black;
  background: rgba(255, 255, 255, 0.884);
}

#contact .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
.box img {
  padding: 5px;
  block-size: 20%;
}
span.psw {
  margin-left: 30%;
  padding: 5%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.complain-box p{
  text-align: center;
}

header img {
  display: none;
}


.progress{
  border: 1px solid black;
  width: 65%;
  height: 700px;
  margin-left: 25%;
  margin-top: -25%;
}
table, th, td {
  border: 1px solid black;
  
}
.btn {
  width: 50%;
  margin-left: 25%;

  display: block;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid black;
  background-origin: padding-box;
  border-radius: 20px;
  box-shadow: 2px 2px 32px black;
  background: rgba(255, 255, 255, 0.884);
  padding: 8px;
}
.aboutus {
  color: red;
  text-align: center;
  padding: 20%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
 .complainform{

    
    margin-left: 0%;
    width: 95%;
    margin-top: 10%;
  
 }
 table, th, td {
  border: 1px solid black;
  width: 100%;
}
  
  span.psw {
    display: block;
    float: none;
  }
  #contact .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  .header-right {
    float: none;
  }
  form {
    padding-top: 20px;
    margin-top: 40px;
    margin-right: -50%;
   
    
    
    
   
  }
 
  form h3{
    text-align: center;
  }
  header img {
    display: block;
    float: right;
    margin-top: -40px;
  }
  .wrap {
    height: 0;
    display: none;
  }
  .unwrap {
    height: 230px;
    display: block;
    padding: auto;
    
  }
  .form h3 {
    text-align: center;
  }
  .input {
    width: 80%;
    margin-left: 10%;
    display: block;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    background-origin: padding-box;
    
  }
  
  .btn {
    width: 50%;
    margin-left: 25%;
    display: contents;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    background-origin: padding-box;
    border-radius: 20px;
    box-shadow: 2px 2px 32px black;
    background: rgba(255, 255, 255, 0.884);
  }
  footer {
    position: relative;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
}
@media screen and (max-width: 769px) {

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  span.psw {
    display: block;
    float: none;
  }
  .user-menu{
    width: 100%;
    display: block;
  }
  #contact .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  .header-right {
    float: none;
  }
  .box img{
    size: 20%;
  }
  table, th, td {
    border: 1px solid black;
    width: 100%;
  }
  form {
    padding-top: 20px;
    margin-top: 40px;
    width: 70%;

    margin-left: 10%;
    border: 1px solid black;
    border-radius: 20px;
    
    background: rgba(255, 255, 255, 0.884);
  }
  header img {
    display: block;
    float: right;
    margin-top: -40px;
  }
  .wrap {
    height: 0;
    display: none;
  }
  .unwrap {
    height: 230px;
    display: block;
    padding: auto;
    
  }
  .form h3 {
    text-align: center;
  }
  .input {
    width: 80%;
    margin-left: 10%;
    display: block;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    background-origin: padding-box;
    border-radius: 20px;
    box-shadow: 2px 2px 32px black;
    background: rgba(255, 255, 255, 0.884);
  }
  .btn {
    width: 50%;
    margin-left: 25%;
    display: block;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    background-origin: padding-box;
    border-radius: 20px;
    box-shadow: 2px 2px 32px black;
    background: rgba(255, 255, 255, 0.884);
  }
  footer {
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
}
